<div class="top-top-banner">                                     <!-- there are two types of images to be used here -->
    <div class="container">
		<div class="banner-info">
			<h3>Search for a supplier listing by name</h3>	
			<div class="search-form container overlay">
				<form action="#" method="post">
					<div class="col-md-6 col-sm-4 col-xs-12 search-no-padding-left search-no-padding-right">
						<input type="text" placeholder="Search" name="Search">
					</div>
					<div class="col-md-4 col-sm-4 hidden-xs search-no-padding-right">
						<select>
							<option>Select location</option>                                     <!-- fix the categories with stella -->
							<option>Accra</option>
							<option>Kumasi</option>
						</select>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12 search-no-padding">
						<button class="search-no-border" type="submit">Search</button>
					</div>
				</form>
			</div>		
		</div>	
    </div>
</div>